.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
  opacity: 0.8;
  position: relative;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

.settings__setting-newpoint {
  background-color: tomato;
  border-radius: 15px;
  width: 17px;
  height: 17px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  position: absolute;
  left: 40px;
}
